{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
#}

{% extends "emails/hero-body-html.jinja" %}

{% if membership.invited_by %}
    {% set sender_full_name=membership.invited_by.get_full_name() %}
{% else %}
    {% set sender_full_name=_("someone") %}
{% endif %}


{% block body %}
    {% trans full_name=sender_full_name, project=membership.project, product_name=sr("product_name") %}
    <h2>{{ full_name }} heeft je uitgenodigd voor {{ product_name }}.</h2>
<p>Hallo, Je hebt toegang gekregen tot het project <em>{{ project }}</em> in {{ product_name }}, het issuesysteem van Maykin Media. </br> Via de uitnodiging in deze e-mail kun je een nieuw wachtwoord instellen en direct aan de slag. </p>
 <p>In Taiga kun je onder andere:</p>
    <ul>
        <li>Vragen stellen aan onze supportafdeling</li>
        <li>Incidenten en meldingen registreren</li>
        <li>Via de Wiki snelkoppelingen naar relevante omgevingen vinden</li>
        <li>Extra informatie bekijken over de diensten die je bij ons afneemt</li>
    </ul>

<p> Heb je vragen? Neem dan gerust contact met ons op. </p>
    {% endtrans %}

    {% if membership.invitation_extra_text %}
        {% trans extra=membership.invitation_extra_text|linebreaksbr %}
    <p><small>En dan nu een kort bericht van degene die jou heeft uitgenodigd:"</small></p>
    <p><strong>{{ extra }}</strong></p>
        {% endtrans %}
    {% endif %}

    <a class="button" href="{{ resolve_front_url("invitation", membership.token) }}"
       title="{{ _("Klik op onderstaande link om je uitnodiging voor Taiga te accepteren.") }}">{{ _("Accepteer") }}</a>
    {% trans signature=sr("signature") %}
    <p><small>{{ signature }}</small></p>
    {% endtrans %}
{% endblock %}
