{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.

Copyright (c) 2021-present Kaleidos Ventures SL
#}
{% extends "emails/hero-body-html.jinja" %}

{% if membership.invited_by %}
    {% set sender_full_name=membership.invited_by.get_full_name() %}
{% else %}
    {% set sender_full_name="iemand" %}
{% endif %}

{% set full_name = sender_full_name %}
{% set project = membership.project %}
{% set product_name = sr("product_name") %}

{% block body %}
    <h2>{{ full_name }} heeft je uitgenodigd voor {{ product_name }}.</h2>

    <p>
        Je hebt toegang gekregen tot het project <em>{{ project }}</em> in {{ product_name }},
        het ticketsysteem van Maykin Media.<br/>
        Via de uitnodiging in deze e-mail kun je een nieuw wachtwoord instellen en direct aan de slag.
    </p>

    <p>In Taiga kun je onder andere:</p>

    <ul>
        <li>Vragen stellen aan onze supportafdeling</li>
        <li>Incidenten en meldingen registreren</li>
        <li>Via de Wiki snelkoppelingen naar relevante omgevingen vinden</li>
        <li>Extra informatie bekijken over de diensten die je bij ons afneemt</li>
    </ul>

    <p>Heb je vragen? Neem dan gerust contact met ons op.</p>

    {% if membership.invitation_extra_text %}
        {% set extra = membership.invitation_extra_text|linebreaksbr %}
        <p><small>En dan nu een kort bericht van degene die jou heeft uitgenodigd:</small></p>
        <p><strong>{{ extra }}</strong></p>
    {% endif %}

    <a class="button"
       href="{{ resolve_front_url("invitation", membership.token) }}"
       title="Klik op onderstaande link om je uitnodiging voor Taiga te accepteren.">Accepteer</a>

    <p><small>{{ sr("signature") }}</small></p>
{% endblock %}